.cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem 30rem;

}

.primary .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.secundary .card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width:300px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover .img-container img {
    transform: scale(1.1);
}

.card>div:nth-child(2){
    padding: 1.5rem;
}

.card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.8rem;
}

.card p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.2rem;
}

.card .btn {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    background-color: #00BF63;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.card .btn:hover {
    background-color: #008545;
}
