:root {
    --main-color: #23e43d;
    --black: #13131a;
    --bg: #ffffff;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background:linear-gradient(90deg );
    padding: 8rem;


}

header{

    background-color: #d7d8d7;
}

.header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    
}
.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar{
    flex-grow: 2;
    text-align: center;
}

.navbar a {
    text-align: center; 
    margin:  14rem;
    font-size: 2rem;
    color:#13131a;
}
.navbar a:hover{
    color: #23e43d;
    border-bottom: #ffffff;
    padding-bottom: 0.5rem;
}

h1{
    margin: 20rem auto;
    text-align: center;
    color: #23e43d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 4rem;
}

#imagens {
    justify-content: center;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 5rem 35rem;
    gap: 100px;
    
}
#imagens img{
    border-radius: 10px ;
    background-color: #23e43d;
    

}
#imagens img:hover{
padding-bottom: 10px;
    
}



