@import url(cards.css);

:root {
    --main-color: #23e43d;
    --black: #13131a;
    --bg: #000000;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #efefef;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    background-color: #fff;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    nav {
        display: flex;
        gap: 3rem;
        font-size: 1.5rem;
        font-weight: 500;

        a {
            color: #18191B;
        }

        a:hover {
            color: #00BF63;
        }
    }
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    h1 {
        font-size: 3rem;
        color: #23e43d;;
    }
    
}
.primary .titulo{
    margin: 10rem 0;
}

.secundary .titulo{
    margin: 8rem 0 ;
}
.sobre-nos .titulo{
    margin: 8rem 0 ;
}

#imagens {
    justify-content: center;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 5rem 35rem;
    gap: 100px;

}

#imagens img {
    border-radius: 10px;
    background-color: #23e43d;


}

#imagens img:hover {
    padding-bottom: 10px;

}
.container{
    padding: 0 20rem;
}

.sobre-container {
    background-color:#00b359; 
    border-radius: 20px; 
    padding: 30px 30px; 
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-align: center;

}


.conteudo-esquerda {
    flex-grow: 1; 
    padding-right: 10px; 
    color: rgb(255, 255, 255);
}

.conteudo-esquerda h1 {
    color: white;
    font-size: 5em;
    font-family: 'Georgia', serif; 
    font-weight: 200; 
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 1;
    
    
}

.conteudo-esquerda p {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    max-width: 700px;

}


.logo-container {
    flex-shrink: 0;
    width: 250px; 
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-placeholder {
    width: 100%; 
    height: 100%; 
    background-color: white; 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}



@media (max-width: 768px) {
    .sobre-container {
        flex-direction: column; 
        padding: 20px;
    }

    .conteudo-esquerda {
        padding-right: 0;
        margin-bottom: 10px; 
        text-align: center; 
    }
    
    .conteudo-esquerda h1 {
        font-size: 2.5em;
    }

    .logo-container {
        width: 150px; 
        height: 150px;
    }
}

.palavra-destaque {
    font-size: 1.5em; 
    font-weight: bold; 
    color: #ffffff;   
}

.Duvidas h2{
    text-align: center;
    margin: 5rem auto;
    color: #09ff00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 4rem;

}
.container-acordeon {

    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.acordeon{
    padding: 12px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px -5px 10px 5px rgba(0,0,0,0.1);

}
.acordeon-header{
    width: 100%;
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    i{
        font-size: 10px;
    }
}
.acordeon-header span{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
}
.acordeon-body{
    font-size: 14px;
    transition: opacity 0.3s linear;
    overflow: hidden;
    opacity: 0;
    height: 0;

}
.acordeon-body.active{
    padding: 5px 0px;
    opacity: 1;
    height: 100%;
}
.arrow{
    transition: transform 0.3s linear;
}
.acordeon:has(.active) .arrow{
    transform: rotate(180deg);
}

footer {
    background-color: #efefef;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}