:root {
    --main-color: #23e43d;
    --black: #13131a;
    --bg: #ffffff;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 0 10rem;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}

.navbar a {
    color: var(--black);
}
.navbar a:hover {
    color: var(--main-color);
}

h1{
    margin: 20rem auto;
    text-align: center;
    color: #23e43d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 4rem;
}

#imagens {
    justify-content: center;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 5rem 35rem;
    gap: 100px;
    
}
#imagens img{
    border-radius: 10px ;
    background-color: #23e43d;
    

}
#imagens img:hover{
padding-bottom: 10px;
    
}